<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/blockMobile.js"></script>
  </head>
  <body style="position: fixed; top: 0">
    <!-- <div class="col-2 sidebar"> -->
    <div class="sidebar">
      <div style="display: flex">
        <div>
          <img
            src="logo.jpeg"
            width="50"
            height="50"
            style="margin-left: 50px"
          />
        </div>
      </div>
      <div class="sidebaritems mt-3">
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-table-cells"></i>
              <a href="../Dashboard.html" target="_top">Dashboard</a>
            </button>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-user"></i>
              <a href="../Users/Users.html" target="_top">Users</a>
            </button>
            <div class="dropdown-content" id="classDropdown"></div>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-info"></i>
              <a href="../Aboutus/aboutus.html" target="_top">About Us</a>
            </button>
            <div class="dropdown-content" id="classDropdown"></div>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-flag"></i>
              <a href="../Banner/Banner.html" target="_top">Banner</a>
            </button>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fas fa-list"></i>
              <a href="/Category/Category.html" target="_top">Category</a>
            </button>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-book"></i>
              <a href="/Book/book.html" target="_top">Book</a>
            </button>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-regular fa-file"></i>
              <a href="/Ebook/ebook.html" target="_top">EBook</a>
            </button>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-newspaper"></i>
                <a href="/News/news.html" target="_top">News</a>
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-divide"></i>
                <a href="/Courses/Courses.html" target="_top">Courses</a>
              </button>
            </div>
          </div>
        </div> -->

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-video"></i>
                <a href="/Video/video.html" target="_top">Video</a>
              </button>
            </div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-file-pdf"></i>
                <a href="/Pdf/pdf.html" target="_top">PDFs</a>
              </button>
            </div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-feather"></i>
                <a href="/Tests/tests.html" target="_top">Test</a>
              </button>
            </div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-flag"></i>
                <a href="/PETOnline/pet.html" target="_top">PET</a>
              </button>
            </div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="sidebaritems">
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleDropdown()">
                <i class="fa-solid fa-q"></i>
                <a href="/Quize/quiz.html" target="_top">Quiz</a>
              </button>
            </div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-ticket"></i>
              <a href="../Coupon/Coupon.html" target="_top">Coupon</a>
            </button>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-handshake"></i>
              <a href="#">Transactions</a>
              <!-- <a href="../Transaction/transaction.html" target="_top">Transactions</a> -->
            </button>
            <div class="dropdown-content" id="classDropdown"></div>
          </div>
        </div>

        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-truck"></i>
              <a href="../Orders/OrderDetail.html" target="_top"
                >Order Details</a
              >
            </button>
            <div class="dropdown-content" id="classDropdown"></div>
          </div>
        </div>
        <div class="sidebaritems">
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
              <i class="fa-solid fa-user"></i>
              <a href="../Terms & Conditions/aboutus.html" target="_top"
                >Terms & Conditions</a
              >
            </button>
            <div class="dropdown-content" id="classDropdown"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <script>
      // Get the current URL
      var url = window.location.href;
      console.log(url);
      // Get all the links in the sidebar
      var links = document.querySelectorAll(".sidebaritems a");
      console.log(links);
      // Loop through each link and check if it matches the current URL
      for (var i = 0; i < links.length; i++) {
        // if (links[i].href === url) {
        if (url.includes(links[i].href)) {
          // Add a class to the corresponding tab
          links[i].classList.add("highlight");
        }
      }
    </script>
    <script src="../Script.js"></script>
    <script src="../logout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
