.sidebar button {
  cursor: pointer;
  padding: 0;
  border: none;
}

.sidebar {
  font-family: sans-serif;
  margin: 0;
  width: 250px;
  /* position: sticky; */
  position: sticky;
  top: 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}
.sidebar img {
  vertical-align: bottom;
}
.sidebar ::placeholder {
  color: #ffffff; /* You can adjust the color code as needed */
}
.sidebar :disabled {
  cursor: not-allowed;
}

.sidebar .dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);

  border: none;
  cursor: pointer;
}
.sidebar .dropbtn i {
  width: 10px;
}

/* Style the dropdown links */
.sidebar .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 90%;
}

.sidebar .dropdown:hover a {
  font-weight: 500;
}

.sidebar .dropdown a {
  color: black;
  padding: 5px 6px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.sidebar .highlight {
  font-weight: bolder;
}

.sidebar .sidebaritems .dropdown button {
  display: flex;
  justify-content: left;
  gap: 15px;
  align-items: center;
}

.sidebar {
  background: #edf2f6;
  padding: 10px;
  color: #000000;
  height: 800px;
  position: sticky;
  top: 0;
  /* height: 100%;  */
}
.sidebar .logo {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.sidebar .sidebaritems {
  margin-bottom: 10px;
}
.sidebar .sidebaritems h3 {
  margin-bottom: 10px;
}
.sidebar .sidebaritems p {
  color: #0c0c0c;
}
.sidebar .sidebaritems i {
  margin-right: 20px;
}
.sidebar .sidebaritems .arrow {
  float: right;
}
