.addCategory h1 {
  text-align: center;
}

.addCategory form {
  display: flex;
  flex-direction: column;
}
.addCategory .imgPreview {
  display: flex;
  justify-content: center;
}
.addCategory .imgPreview img {
  max-width: 200px;
  max-height: 200px;
}

.addCategory label {
  font-weight: bold;
  margin-bottom: 5px;
}

.addCategory input[type="text"],
.addCategory input[type="number"],
.addCategory input[type="file"],
.addCategory textarea,
.addCategory select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addCategory button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.addCategory button:hover {
  background-color: #0056b3;
}

.addCategory .actions {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: right;
  margin: 0.5rem 0;
}

.addCategory .actions .closebtn {
  background-color: red;
}
